#title{
	font-size: 28px;
	font-family: Ubuntu;
	text-align: center;
}

#subtitle{
	font-size: 22px;
	font-family: Ubuntu;
	text-align: center;
}

#whole {
	color: pink;
	background-color: Green;
}

.choice{
	
}